@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "purple";
    default: true;
    prefersdark: true;
    --color-base-100: oklch(29% 0.149 302.717);
    --color-base-200: oklch(38% 0.176 304.987);
    --color-base-300: oklch(43% 0.218 303.724);
    --color-base-content: oklch(94% 0.033 307.174);
    --color-primary: oklch(67% 0.182 276.935);
    --color-primary-content: oklch(25% 0.09 281.288);
    --color-secondary: oklch(82% 0.189 84.429);
    --color-secondary-content: oklch(27% 0.077 45.635);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(38% 0.176 304.987);
    --color-neutral-content: oklch(97% 0.014 308.299);
    --color-info: oklch(62% 0.214 259.815);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(72% 0.219 149.579);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0;
    --radius-field: 0;
    --radius-box: 0;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
